web_drop
talkdir
tbincome
testdir

commit.time
target.mk

*.nav
*.snm
*.draft.tex
*.final.tex
*.deps
*.toc
*.handouts.tex

.*.sw*

*.pdf

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*.RData
*.Rlog
*.r
.Rhistory

clonedir
dotdir/

*.oldfile
*.olddiff

*.wrapR.*

local.mk

txt.format
