Birth_death_models
Disease_data
Exponential_figures
HIV_model_data
Lecture_images
SIR_model_family
SIR_simulations
talkdir
tbincome

beamer.tmp
commit.time

*.nav
*.snm
*.draft.tex
*.final.tex
*.deps
*.toc
*.handouts.tex

.*.sw*

*.pdf

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*.RData
*.Rlog
*.r
.Rhistory

*.wrapR.*

local.mk

txt.format
